


<div class="text">
  <div class="name">{{ currentName }}</div>
  <p class="display">{{ displayText }}</p>

 
  <form *ngIf="showNameForm" class="form-col" (ngSubmit)="submitName()">
    <div class="row">
      <label for="uname">Username:</label>
      <input
        id="uname"
        name="username"
        class="pixel-input"
        [(ngModel)]="username"
        placeholder="Enter your name..."
        required minlength="2" maxlength="30"
        (keydown.enter)="$event.preventDefault(); submitName()"
      />
    </div>
    <div class="error" *ngIf="nameError">{{ nameError }}</div>
    <button type="submit" class="submit-btn">Submit</button>
  </form>


  <form *ngIf="showPassForm" class="form-col" (ngSubmit)="submitPassword()">
    <div class="row">
      <label for="pwd">Password:</label>
      <input
        id="pwd"
        name="pwd"
        type="password"
        class="pixel-input"
        [(ngModel)]="password"
        placeholder="Enter your password..."
        required minlength="6" maxlength="64"
        (keydown.enter)="$event.preventDefault(); submitPassword()"
      />
    </div>
    <div class="error" *ngIf="passError">{{ passError }}</div>
    <button type="submit" class="submit-btn">Submit</button>
  </form>


<form *ngIf="showRepeatForm" class="form-col" (ngSubmit)="submitRepeatPassword()">
  <div class="row">
    <label for="pwd2">Repeat:</label>
    <input
      id="pwd2"
      type="password"
      [(ngModel)]="password2"
      name="pwd2"
      class="pixel-input"
      required
      minlength="6"
      placeholder="Repeat password..."
      (keydown.enter)="$event.preventDefault(); submitRepeatPassword()"
    />
  </div>

  
  <div class="error" *ngIf="passError">{{ passError }}</div>


  <button type="button" class="submit-btn" (click)="submitRepeatPassword()">
    Submit
  </button>
</form>


<div class="gender-choice" *ngIf="showGender">
  <div class="gender-card" (click)="chooseGender('sir')">
    <img src="/assets/knightM.png" alt="Male Knight" class="knightM"/>
    <p>Sir</p>
  </div>
  <div class="gender-card" (click)="chooseGender('lady')">
    <img src="/assets/knightF.png" alt="Female Knight" class="knightF"/>
    <p>Lady</p>
  </div>
</div>

 
  <ul class="ready" *ngIf="showReady">
    <li (click)="chooseReady(true)">Yes, I’m ready!</li>
    <li (click)="chooseReady(false)">No, I’m so scared…</li>
  </ul>

  
  <button *ngIf="showNext" class="next" (click)="onNext()">Continue</button>
</div>


