body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  color: #fff;
  font-family: Tiny5, monospace;
  overflow: hidden;
  
}

.story {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.scene {
  min-height: 100vh;
  scroll-snap-align: start;
scroll-snap-stop: always;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  padding-left: 3%;
  position: relative;
}
.scene::before{
  z-index: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;   
  justify-content: center;   
  text-align: left;          
  
  position: relative;       
  z-index: 2;
  left: 5%;                
  height: 100%;             
}


.content h1{
  font-size: 70px;
  color: #fff;
  text-shadow: 0 0 6px #c14e06, 0 0 12px #c58608;
  line-height: 1.2;
  margin: 0.5rem 0;
  margin-left: -40px;
}
.content p {
  font-size: 35px;
  color: #fff;
  text-shadow: 0 0 6px #c14e06, 0 0 12px #c58608;
  line-height: 1.2;
  margin: 0.5rem 0;
  margin-left: -80px;
}
.logo {
  display:flex;
  max-width: 400px;   
  height: auto;
  margin: -170px 0 -160px -90px;     
  image-rendering: pixelated; 
}

.content .cta {
  margin: 30px 0 0 41px;
  font-size: 15px;
  opacity: 0.8;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  display: inline-block;
 
}

.scene.hero {
  position: relative;
  background: url("/assets/img/eingang.jpeg") right/contain no-repeat;
  background-color: black;
}
.scene.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0,0,0,1) 0%,       
    rgba(0,0,0,0.9) 60%,   
    rgba(0,0,0,0) 80%),
    linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 20%);   
    z-index: 1;
}



.scene.hero .content {
  position: relative;
  z-index: 2;
  text-align: left;
  padding-left: 5%;
}

.scroll{
  position: absolute;
  text-align: center;
  font-size: 12px;
  color: #fff;
  transform: translateX(-50%);
  bottom: 120px;
  left: 50%
}
.down {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);   
  font-size: 2rem;
  color: #fff;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
  text-decoration: none;
}
.scene.gang {
  background: url("/assets/img/gang.jpeg") center center no-repeat;
  background-color: black;
  background-size: 600px;
}
.scene.gang::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle, 
    rgba(0,0,0,0) -30%,  
    rgba(0,0,0,1) 100%  
  );
  z-index: 1;
  pointer-events: none;
}

.enter-btn {
  padding: 12px 24px;
  font-size: 16px;
  font-family: Tiny5, monospace;
  background: #040000;
  color: #fff;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 0 2px #764d4d;
  transition: transform 0.2s ease, background 0.3s ease;
  margin-bottom: 100px;
  align-items: center;
  margin: 400px 0 0 500px;
  
}

.enter-btn:hover {
  transform: scale(1.1);
}

.w{
  font-size: 28px;
  color: #fff;
  text-shadow: 0 0 6px #f7be38, 0 0 12px #ffb300;
  font-family: Tiny5, monospace;
  margin: 200px 0 0 340px
}


.dlg::backdrop { 
  background: rgba(0, 0, 0, 0.7); 
}
.dlg { 
  border:2px solid #fff; 
  background:#000000; color:#fff; 
  padding:20px;
  border-radius:8px; 
  max-width:420px; 
  font-family:'Press Start 2P', monospace; 
}
.modal-buttons { 
  display:flex; 
  gap:10px; 
  justify-content:center; 
  margin-top:14px; 
}
.yes{ background:none; 
  font-family: Tiny5; 
  color:#fff; 
  border:none; 
  padding:10px 16px; 
  border-radius:6px; 
}
.no { 
  background:none; 
  font-family: Tiny5; 
  color:#fff; 
  border:none; 
  padding:10px 16px; 
  border-radius:6px; 
}

.yes:hover{
  color: rgb(5, 161, 5);
  cursor: pointer;
}
.no:hover{
  color: rgb(169, 0, 0);
  cursor: pointer;
}