<main class="story">


  <section class="scene hero">
    <div class="content">
      <h1>Welcome to</h1>
      <img src="/assets/dragon.png" class="logo"/>
      <p>Train like an adventurer.</p>
      <p>Level up with quests, XP & loot.</p>
      <a href="#gang"  class="cta">▼ Scroll to continue ▼</a>
    </div>
  </section>


  <section class="scene gang" id="gang">
    <div class="content">
      <h2 class="w">The gates of the dungeon open before you.</h2>
      <button type="button" class="enter-btn" (click)="openModal()">
        ENTER DUNGEON
      </button>
    </div>
  </section>

 
  <dialog #dlg class="dlg" (cancel)="$event.preventDefault()">
    <h3>Entrance denied!</h3>
    <p>
      You must go to Muscleland Castle first.<br>
      Do you want to start your journey now?
    </p>

    <div class="modal-buttons">
      <button class="yes" (click)="onYes()">YES</button>
      <button class="no"  (click)="onNo()">NO</button>
    </div>
  </dialog>
</main>

